streamlit
transformers
peft
bitsandbytes
xgboost
lightgbm
catboost
sentence-transformers
langgraph<0.2.0
langchain-core<0.2.0
langchain<0.1.0
networkx
numpy
pandas
torch
python-docx
pydantic<2
fastapi<0.100
starlette<0.28
chromadb<=0.4.22